@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary-color: #48cfad;
  --white: #ffffff;
  --gray: #e6e9ed;
  --border-bo: rgb(226, 226, 226);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

header {
  display: grid;
  grid-template-rows: 0.6fr 1fr;
  height: 140px;
  width: 100%;
}

.grid-container {
  max-width: 900px;
  margin: 0 auto;
}

.home-page__container {
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header__social--container {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
}

.header__social {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  height: auto;
  text-align: center;
  width: 350px;
}

.social__link {
  color: var(--white);
}

.header__social:nth-of-type(1) {
  margin-right: 50px;
}

.header__logo {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.header__logo > * {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 20px;
}

.header__profile {
  border-bottom: 1px solid black;
  padding: 0;
  height: auto;
}

.main {
  background-image: url("../assets/images-webp/cover.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.main__text--container {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.main__text {
  margin-top: -250px;
}

.main__text h2 {
  letter-spacing: 8px;
  margin-bottom: 100px;
  padding: 0 50px;
}

.main__text a {
  background-color: var(--primary-color);
  border: none;
  border-radius: 2px;
  color: black;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 8px;
}

.main__text a:hover {
  background-color: #51ec43;
  transform: scale3d(1.1, 1.1, 1.1);
}
/* ------------------ Blogs ------------------ */
.main__news--container {
  background-color: var(--gray);
  height: 100%;
  width: 100%;
}

.news--subcontainer h3 {
  font-size: 24px;
  padding: 15px 0;
}

.news--subcontainer {
  margin: 0 auto;
  width: 80%;
}

.main__news {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 80px;
  padding-bottom: 40px;
}

.main__news figure {
  height: 100%;
  max-height: 244px;
  width: 400px;
}

.main__news img {
  height: inherit;
  width: inherit;
}

.news__text h2,
.news__text p {
  margin-bottom: 20px;
}

.read__more {
  border: 1px solid var(--primary-color);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
}

.blogs__container {
  margin: 0 auto;
  width: 80%;
}

.blogs__container h3 {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 15px;
  text-align: center;
}

.news__cards--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
  padding-top: 15px;
}

.blogs__card figure {
  width: 100%;
}

.blogs__card img {
  width: inherit;
}

.blogs__card p {
  margin: 10px 0 20px;
}

footer {
  color: var(--white);
  font-size: 14px;
  height: 70px;
  margin-top: 60px;
  text-align: center;
}

.footer--cyan {
  background-color: var(--primary-color);
  display: block;
  height: 20px;
  width: 100%;
}

footer p {
  align-items: center;
  background-color: #22272d;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}
/* ------------------ Blog ------------------ */
.main__blog--container,
.main__blog--text {
  margin: 0 auto;
  width: 90%;
}
.main__blog--container {
  display: grid;
  max-width: 1152px;
}

.main__blog--container figure {
  width: 100%;
}

.main__blog--container img {
  width: inherit;
}

.main__blog--text {
  margin-bottom: 40px;
}

.main__blog--text h3 {
  border-bottom: 1px solid var(--border-bo);
  margin: 30px 0 20px;
  padding-bottom: 10px;
}

.main__blog--text h2 {
  margin-bottom: 20px;
}

.main__blog--text p {
  margin-bottom: 20px;
}

.section__contact--container {
  background-color: var(--gray);
  padding: 40px 0 80px;
}

.section__contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin: 0 auto;
  max-width: 1152px;
  width: 90%;
}

.contact--item {
  display: flex;
  padding: 0 60px;
}

.contact--item figure {
  width: 70px;
}

.contact--item img {
  width: inherit;
}

.item__text {
  margin-left: 20px;
}

.item__text a {
  border-bottom: 1px solid rgb(109, 109, 109);
}

.item__text p {
  padding: 10px 0 0;
}

.footer {
  margin: 0;
}
/* ------------------ About me ------------------ */
.main__aboutme--container {
  align-items: center;
  background-color: var(--gray);
  display: flex;
  height: 300px;
  width: 100%;
}

.main__aboutme {
  align-items: center;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 40px;
  height: 70%;
  margin: 0 auto;
  width: 90%;
}

.main__aboutme figure {
  height: 100%;
  justify-self: end;
  width: 200px;
}

.main__aboutme img {
  border-radius: 50%;
  height: inherit;
  width: inherit;
}

.aboutme__text {
  padding-right: 80px;
}

.aboutme__text h2 {
  margin-bottom: 20px;
}

.projects--container {
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
  width: 90%;
}

.projects--container h2 {
  margin: 40px 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-bo);
}

.projects__cards--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .5fmain__aboutmefr 1fr;
  gap: 30px;
}

.projects__card {
  box-shadow: 1px 4px 10px var(--gray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.projects__card figure {
  height: auto;
  max-height: 220px;
  width: 100%;
}

.projects__card figure > a {
  display: inline-block;
  height: inherit;
  width: inherit;
}

.projects__card figure a:hover{
  background-color: rgb(114, 114, 114);
}

.projects__card img {
  height: 100%;
  width: 100%;
}

.project__card--text {
  padding: 5px 20px 20px;
}

.project__card--text h2{
  margin: 20px 0 20px;
  padding-bottom: 5px;
}

.project__card--text p {
  text-align: left;
}
